@model IEnumerable<TravelBlog.Models.Experience>
@{
    ViewData["Title"] = "Experience";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Experiences We've Had</h2>

<ul>
    @foreach (var listExperience in Model)
    {
        <li>@Html.ActionLink(listExperience.Title, "Details", new { id = listExperience.ExperienceId }) </li>
    }
</ul>