
@{
    ViewData["Title"] = "Travel Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>@Html.ActionLink("Experiences", "Index", "Experiences")</p>

<p>@Html.ActionLink("Sign up for an account", "Signup")</p>